.boxOffice {
    height: 15100px;
    padding-top: 100px;

    .contentWrapper {
        text-align: center;
        color: white;
        display: flex;
        flex-direction: column;

        .bigText {
            font-size: 150px;
            font-weight: 800;
            font-family: "Georgia", sans-serif;
            display: flex;
            align-items: center;

            /* Set the color of "Box Office" to red */
            .boxOfficeText {
                color: red;
            }
        }

        .smallText {
            font-size: 28px;
        }
    }
}