.boxOffice {
    height: 7800px;
    padding-top: 100px;
    .contentWrapper {
        text-align: center;
        color: white;
        display: flex;
        flex-direction: column;
        .bigText {
            font-size: 150px;
            font-weight: 700;
        }
        .smallText {
            font-size: 30px;
        }
    }
}
