.boxOffice {
    height: 100%;
    padding-top: 100px;

    .contentWrapper {
        text-align: center;
        color: white;
        display: flex;
        flex-direction: column;

        .bigText {
            font-size: 120px;
            font-weight: 800;
            font-family: "Georgia", sans-serif;
            display: flex;
            align-items: center;

            .boxOfficeText {
                color: red;
            }
        }

        .smallText {
            font-size: 28px;
        }
    }

    .boxOfficeHeader {
        margin-bottom: 30px;
    }

    .react-tabs {
        &__tab-list {
            display: flex;
            justify-content: center;
            margin-bottom: 30px;

            .react-tabs__tab {
                font-size: 24px;
                font-weight: bold;
                padding: 10px;
                cursor: pointer;
                background-color: transparent;
                border: none;
                margin: 0 10px;
                color: #777777;
                font-family: Arial, sans-serif;
                transition: all 0.00001s ease;

                &--selected {
                    color: #ffffff;
                    border-bottom: 2px solid #ffffff;
                }

                &:hover {
                    color: #f30c0c;
                }
            }
        }

        &__tab-panel {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .movieItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .moviePoster {
        width: 400px;
        height: auto;
        margin-bottom: 10px;
    }

    .movieBoxOfficeContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        margin-top: 30px;
    }

    .movieBoxOfficeItem {
        background-color: rgb(188, 53, 53);
        padding: 20px;
        border-radius: 10px;
        margin: 10px;
        width: 500px;
        border: 2px solid gray;
        box-shadow: 0px 0px 5px 2px rgba(225, 9, 9, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .movieBoxOfficeDetails {
        margin-top: 20px;
    }

    .movieBoxOfficeDetail {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 1.5;
        color: black;
        font-family: Arial, sans-serif;
        font-weight: bold;
    }
}